#
# Copyright (C) 2017-2019 Dremio Corporation. This file is confidential and private property.
#




# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                     ____ _____ ___  ____  _                         #
#                    / ___|_   _/ _ \|  _ \| |                        #
#                    \___ \ | || | | | |_) | |                        #
#                     ___) || || |_| |  __/|_|                        #
#                    |____/ |_| \___/|_|   (_)                        #
#                                                                     #
#           !!!   DO NOT DIRECTLY EDIT THIS FILE   !!!                #
# !!!   create a separate file to override values in this file   !!!  #
#                                                                     #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #


imagePullSecrets: []
writeLogsToFile: true

dremio:
  trialImagePullCredentials: ""
  license: ""
  image:
    repository: quay.io/dremio/dremio-enterprise
    tag: 26.0.6
    pullPolicy: IfNotPresent
  dremioConfExtraOptions: {}
  advancedConfigs: {}
  hive2ConfigFiles: {}
  hive3ConfigFiles: {}
  configFiles: {}
  configBinaries: {}
  log:
    enabled: true
    volume:
      size: 16Gi

cluster:
  type: prod

busyBox:
  image:
    repository: quay.io/dremio/busybox
    tag: 1.37.0-glibc
    pullPolicy: IfNotPresent

utils:
  image:
    repository: quay.io/dremio/dremio-ee-utils
    tag: 26.0.6
    pullPolicy: IfNotPresent

annotations: {}
podAnnotations: {}
labels: {}
podLabels: {}
nodeSelector: {}
tolerations:
  - key: "dremio"
    operator: "Exists"
    effect: "NoExecute"

# Default security contexts used by dremio.podSecurityContext and dremio.containerSecurityContext helpers
podSecurityContext:
  fsGroup: 999
  fsGroupChangePolicy: OnRootMismatch

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: false
  runAsGroup: 999
  runAsNonRoot: true
  runAsUser: 999
  seccompProfile:
    type: RuntimeDefault

coordinator:
  resources:
    requests:
      cpu: "30"
      memory: "56Gi"
    limits:
      memory: "56Gi"
  extraStartParams:
    -Xms31g -Xmx31g -XX:+AlwaysPreTouch -XX:MaxDirectMemorySize=16g
    -Ddremio.debug.sysopt.auth.personal-access-tokens.enabled=true
    -Ddremio.debug.sysopt.planner.width.max_per_node=12
    -Ddremio.debug.sysopt.exec.heap.monitoring.aggressive.lower.bound=64
    -Ddremio.debug.sysopt.exec.heap.monitoring.low_mem.percentage=65
    -Ddremio.debug.sysopt.dremio.automated_backups.enabled=true

  log:
    volume:
      size: 512Gi
  count: 0
  volumeSize: 1024Gi
  storageClass: dremio-coordinator
  logStorageClass: dremio-logs
  serviceAccount: dremio-coordinator
  serviceAccountAnnotations: {}
  autoUpgrade: true
  nodeSelector:
    agentpool: dremiocoord
  kvstore:
    type: "RocksDB"
  web:
    auth:
      enabled: true
      type: "internal"
    port: 9047
    tls:
      enabled: false
      secret: dremio-tls-secret-ui
  client:
    port: 31010
    tls:
      enabled: false
      secret: dremio-tls-secret-client
  flight:
    port: 32010
    tls:
      enabled: false
      secret: dremio-tls-secret-flight
  startupProbe:
    failureThreshold: 30
    periodSeconds: 10
  livenessProbe:
    failureThreshold: 30
    periodSeconds: 10
  readinessProbe:
    failureThreshold: 12
    periodSeconds: 10
  masterless:
    enabled: false
    replicas: 2

executor:
  resources:
    requests:
      cpu: "16"
      memory: "128Gi"
    limits:
      memory: "128Gi"
  log:
    volume:
      size: 128Gi
  engines: []
  count: 3
  volumeSize: 128Gi
  serviceAccount: dremio-executor
  cloudCache:
    enabled: false
    quota:
      fs_pct: 70
    volumes:
      - size: 256Gi

engine:
  options:
    sizes:
      - name: XSmall
        pods: 1
        memory: 128Gi
      - name: Small
        pods: 2
        memory: 128Gi
      - name: Medium
        pods: 4
        memory: 128Gi
      - name: Large
        pods: 8
        memory: 128Gi
      - name: XLarge
        pods: 12
        memory: 128Gi
      - name: 2XLarge
        pods: 16
        memory: 128Gi
      - name: 3XLarge
        pods: 24
        memory: 128Gi
      - name: 4XLarge
        pods: 32
        memory: 128Gi
    targetCpuCapacities:
      capacities:
        - name: 16C
          cpu: 16
        - name: 32C
          cpu: 32
      defaultCapacity: 16C
    resourceAllocationOffsets:
      offsets:
        - name: reserve-1-12
          cpu: 1
          memory: 12Gi
          action: Reserve
      defaultOffset: reserve-1-12
    storage:
      spillStorageSizes:
        - name: 300GB
          storage: 300Gi
        - name: 600GB
          storage: 600Gi
      defaultSpillStorageSize: 300GB
      c3StorageSizes:
        - name: 300GB
          storage: 300Gi
        - name: 600GB
          storage: 600Gi
      defaultC3StorageSize: 300GB
    idleTimeouts:
      durations:
        - PT2H
        - PT1H30M
        - PT1H
        - PT30M
        - PT15M
        - PT10M
        - PT5M
      defaultDuration: PT15M
      maximumDuration: PT12H
  operator:
    nodeSelector:
      agentpool: dremiocommon
    image:
      repository: quay.io/dremio/dremio-engine-operator
      tag: 26.0.6
      pullPolicy: IfNotPresent
    serviceAccount: dremio-engine-operator
    serviceAccountAnnotations: {}
    podSecurityContext:
      fsGroup: 999
      fsGroupChangePolicy: OnRootMismatch
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: false
      runAsGroup: 999
      runAsNonRoot: true
      runAsUser: 999
      seccompProfile:
        type: RuntimeDefault
  executor:
    serviceAccount: dremio-engine-executor
    serviceAccountAnnotations: {}
    probes:
      startup:
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 36
      liveness:
        failureThreshold: 30
        periodSeconds: 10
    volumes:
      log:
        size: 8Gi
        pvc:
          storageClass: dremio-logs
      default:
       type: "hostPath"
       hostPath:
         path: "/mnt/dremio-spill"
         type: "DirectoryOrCreate"
      c3:
       type: "hostPath"
       hostPath:
         path: "/mnt/dremio-cache"
         type: "DirectoryOrCreate"

zookeeper:
  image:
    repository: quay.io/dremio/zookeeper
    tag: 3.8.4-jre-17
    pullPolicy: IfNotPresent
  nodeSelector:
    agentpool: dremiocommon
  resources:
    requests:
      cpu: "1"
      memory: "1Gi"
    limits:
      memory: "1Gi"
  count: 3
  volumeSize: 16Gi
  storageClass: dremio-zk
  serviceAccount: zookeeper
  serviceAccountAnnotations: {}
  podSecurityContext:
    runAsUser: 1000
    fsGroup: 1000
  containerSecurityContext:
    privileged: false
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    capabilities:
      drop:
        - ALL

distStorage:
  type: "azureStorage"
  azureStorage:
    accountName: "NOT_SET"
    authentication: "accessKey"
    filesystem: "NOT_SET"
    path: "/"
    credentials:
      accessKey: "NOT_SET"
      #clientId: "Azure Application Client ID"
      #tokenEndpoint: "Azure Entra ID Token Endpoint"
      #clientSecret: "Azure Application Client Secret"

initResources:
  requests:
    cpu: 10m
    memory: 10Mi
  limits:
    cpu: 2000m
    memory: 512Mi

extraVolumes: []

extraVolumeMounts: []

extraEnvs: []

extraInitContainers: []

extraStartParams: ""

service:
  type: LoadBalancer
  internalLoadBalancer: true

ddc:
  allowCollectOnAllPods: true
  namespaceDiagnostics: true
  k8sClusterDiagnostic: false

catalog:
  image:
    repository: quay.io/dremio/dremio-catalog-server
    tag: 26.0.6
    pullPolicy: IfNotPresent
  replicas: 1
  serviceAccount: dremio-catalog-server
  serviceAccountAnnotations: {}
  nodeSelector:
    agentpool: dremiocommon
  extraEnv: []
  extraVolumeMounts: []
  extraVolumes: []
  extraInitContainers: []
  extraStartParams: ""
  resources:
    requests:
      cpu: "2"
      memory: "8Gi"
    limits:
      cpu: "2"
      memory: "8Gi"
  externalAccess:
    enabled: true
    image:
      repository: quay.io/dremio/dremio-catalog-server-external
      tag: 26.0.6
      pullPolicy: IfNotPresent
    replicas: 1
    authentication:
      authServerHostname: dremio-master-0.dremio-cluster-pod.{{ .Release.Namespace }}.svc.cluster.local
      disableHostnameVerification: false
    tls:
      enabled: false
      secret: dremio-tls-secret-catalog
    nodeSelector:
      agentpool: dremiocommon
  storage:
    location: abfss://<container_name>@<storage_account>.dfs.core.windows.net/<path>
    type: azure
    azure:
      tenantId: <Your Azure's directory tenant Id>
      secretName: catalog-server-azure-storage-creds
      multiTenantAppName: ~
      useClientSecrets: true

catalogservices:
  enabled: true
  nodeSelector:
    agentpool: dremiocommon
  image:
    repository: quay.io/dremio/dremio-catalog-services-server
    tag: 26.0.6
    pullPolicy: IfNotPresent
  serviceAccount: dremio-catalog-services
  serviceAccountAnnotations: {}
  replicas: 1
  resources:
    requests:
      cpu: "2"
      memory: "8Gi"
    limits:
      cpu: "2"
      memory: "8Gi"
  extraEnvs: []
  extraVolumeMounts: []
  extraVolumes: []
  extraInitContainers: []
  extraStartParams: ""

mongodb:
  image:
    repository: quay.io/dremio/percona/percona-server-mongodb
    tag: 8.0.12-4
    pullPolicy: IfNotPresent
  metrics:
    image:
      repository: quay.io/dremio/percona/mongodb_exporter
      tag: 0.47.1
      pullPolicy: IfNotPresent
  serviceAccount: dremio-mongodb
  serviceAccountAnnotations: {}
  replicaCount: 3
  labels: {}
  annotations: {}
  nodeSelector:
    agentpool: dremiocommon
  affinity: {}
  topologySpreadConstraints: []
  tolerations:
    - key: "dremio"
      operator: "Exists"
      effect: "NoExecute"
  priorityClassName: ~ # high-priority
  podDisruptionBudget: {}
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 0
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    privileged: false
    readOnlyRootFilesystem: false
    runAsNonRoot: true
    capabilities:
      drop:
        - ALL
  storageClass: dremio-mongodb

  resources:
    requests:
      cpu: 2
      memory: 2Gi
    limits:
      cpu: 4
      memory: 2Gi
  enableVolumeExpansion: true
  storage:
    annotations: {}
    labels: {}
    resources:
      requests:
        storage: 1024Gi
    accessModes:
    - ReadWriteOnce

mongodbOperator:
  image:
    repository: quay.io/dremio/dremio-mongodb-operator
    tag: 1.20.1-dremio-20250903185516-13d2ecb3
  fullnameOverride: "dremio-mongodb-operator"
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: "OnRootMismatch"
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
  serviceAccount:
    create: false
    annotations: {}
  annotations: {}
  labels: {}
  podAnnotations: {}
  podLabels: {}
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  nodeSelector:
    agentpool: dremiocommon
  tolerations:
    - key: "dremio"
      operator: "Exists"
      effect: "NoExecute"
  affinity: {}

opensearchOperator:
  useRoleBindings: true
  nodeSelector:
    agentpool: dremiocommon
  manager:
    image:
      repository: quay.io/dremio/dremio-opensearch-operator
      tag: "2.7.0-dremio-20250924151814-aa53c11"
  serviceAccount:
    create: false
    name: dremio-opensearch-operator
    annotations: {}
  kubeRbacProxy:
    enable: false

opensearch:
  enabled: true
  clusterName: "opensearch-cluster"
  serviceName: "opensearch-cluster"
  serviceAccount: opensearch-cluster
  serviceAccountAnnotations: {}
  nodeSelector:
    agentpool: dremiocommon
  podSecurityContext: {}
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault
  image:
    repository: quay.io/dremio/dremio-search-opensearch
    tag: 26.0.6
  version: "2.19.2"
  replicas: 3
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              opensearch.cluster.name: "opensearch-cluster"
          topologyKey: "kubernetes.io/hostname"
  volumeSize: "512Gi"
  opensearchJavaOpts: "-Xms10g -Xmx10g"
  storageClass: dremio-opensearch
  # This can be disabled to prevent privileged container, in that
  # case vm.max_map_count must be set on the host: https://opensearch.org/docs/1.0/opensearch/install/important-settings
  setVMMaxMapCount: true
  resources:
    requests:
      memory: "16Gi"
      cpu: "2"
    limits:
      memory: "16Gi"
      cpu: "2"

  tlsCertsSecretName: opensearch-tls-certs
  disableTlsCertGeneration: false
  initialAdminPassword: admin

  oidcProxy:
    nodeSelector:
      agentpool: dremiocommon
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"

  preInstallJob:
    image:
      repository: quay.io/dremio/dremio-search-init
      tag: 26.0.6
    nodeSelector:
      agentpool: dremiocommon
    serviceAccountAnnotations: {}
  enableHttpBasicAuth: true
  bootstrap:
    nodeSelector:
      agentpool: dremiocommon
    tolerations: []
    resources:
      requests:
        cpu: "2"
        memory: "4Gi"
      limits:
        cpu: "2"
        memory: "4Gi"

nats:
  enabled: true
  # The topologySpreadConstraints ensures NATS pods are distributed evenly across nodes
  # maxSkew: 1 means the difference between nodes with most and least pods can't exceed 1
  # whenUnsatisfiable: DoNotSchedule prevents pod scheduling if constraint can't be met
  podTemplate:
    topologySpreadConstraints:
      kubernetes.io/hostname:
        maxSkew: 1
        whenUnsatisfiable: DoNotSchedule
    merge:
      spec:
        serviceAccountName: dremio-nats
        nodeSelector:
          agentpool: dremiocommon
        tolerations:
          - key: "dremio"
            operator: "Exists"
            effect: "NoExecute"
  serviceAccount:
    name: dremio-nats
    annotations: {}
  config:
    jetstream:
      enabled: true
      fileStore:
        pvc:
          size: 16Gi
          storageClassName: dremio-nats
    cluster:
      enabled: true
      replicas: 3
  container:
    image:
      repository: quay.io/dremio/nats
      tag: 2.11.8-alpine
      pullPolicy: IfNotPresent
    merge:
      resources:
        requests:
          cpu: "500m"
          memory: "1024Mi"
          ephemeral-storage: "50Mi"
        limits:
          cpu: "750m"
          memory: "1536Mi"
          ephemeral-storage: "8Gi"
  reloader:
    enabled: true
    image:
      repository: quay.io/dremio/natsio/nats-server-config-reloader
      tag: 0.19.1


telemetry:
  enabled: true
  endpoint: observability.dremio.com:443
  bodySizeLimit: 10MiB
  sendBatchMaxSize: 8192
  metrics:
    scrapeInterval:
      cluster: 5m
      app: 1m

  image:
    repository: quay.io/dremio/otel/opentelemetry-collector-contrib
    tag: 0.133.0
    pullPolicy: IfNotPresent
  goMemLimit: "1638MiB"
  resources:
    requests:
      cpu: "1"
      memory: "1Gi"
    limits:
      cpu: "2"
      memory: "2Gi"
  extraEnvs: []
  nodeSelector:
    agentpool: dremiocommon
  serviceAccountAnnotations: {}
  clusterId:
    serviceAccountAnnotations: {}

mongodbHooks:
  serviceAccountAnnotations: {}
  nodeSelector:
    agentpool: dremiocommon
  podSecurityContext:
    fsGroup: 65534
    seccompProfile:
      type: RuntimeDefault
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    privileged: false
    runAsGroup: 65534
    runAsUser: 65534
